<nav class="navbar navbar-expand-md bg-light" style="vertical-align : middle">
  <div class="container-fluid">
    <a class="navbar-brand ms-3 size" > <img src="../assets/building-columns-solid.svg" height="25px" class="me-3">Bank of Sparks Foundation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="home"><button class="btn btn-outline-secondary w-100">Home</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="customers"><button class="btn btn-outline-secondary w-100">Customers</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="transactions"><button class="btn btn-outline-secondary w-100">Transactions</button></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>